a {
    text-decoration: none;
    color: #000;
}

.filter-btn {
    margin: 0% 5%;
    line-height: 40px;
    padding: 10px 10px;
    width: 100%;

    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;

    background-color: #373737;
    border-radius: 20px;
    border: none;

    cursor: pointer;

    transition: all 0.3s;
}

.filter-btn:hover {
    background-color: #262626;
}

.filter {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.cards {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.card {
    /*height: 1000px;*/
    width: 40%;
    background-color: #D9D9D9;
    margin: 30px 1% 0px 1%;
    border-radius: 10px;
    padding: 20px;

    transition: all 0.4s ease;
}

.card h1 {
    margin: 0px 0px 10px 0px;
}

span.data-chang-icon {
    margin-left: 10px;
    align-items: center;
}

a.card span.data-chang-icon p {
    margin: 0;
}

a.card p {
    margin: 0px 0px 5px 0px;
}

span.up p {
   color: #DF0000;
}

span.down p {
   color: #484848;
}

span.data-chang-icon img {
    width: 20%;
    margin-right: 3px;
    object-fit: scale-down;
}

a.card div.graph div.last p {
    margin: 0;
}

.last-c {
    margin: 0;
}

.analytics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
}

#graph-container {
    width: 100%;
    height: 500px;
    margin: 20px 0px;
}

.studio-container {
    height: 90vh;
}

.highcharts-input-group .highcharts-label text {
    fill: #000 !important;
    color: #000 !important;
}

.highcharts-data-table {
    margin-bottom: 20px;
    color: #fff;
}