body {
    margin: 0;
    padding: 0;
    background: url(images/bg_gnome_post.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #000;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.flex-line-container {
    display: flex;
    align-items: center;
}

p {
    margin: 0 0 10px;
}

a {
    color: #fff;
    font-family: Roboto, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    margin-bottom: 40px;
}

.profile-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.avatar-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    display: flex;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info-short h1 {
    margin-top: 0;
}

.profile-info-short {
    margin: 0 5% 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}

.flex-line-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    width: 100%;
}

.avatar-image {
    margin-right: 3%;
}

.short-description {
    width: 60%;
}

.short-description div.flex-line-container p:first-child {
    margin-right: 5%;
}

a.edit, .sub-true, .sub-false {
    color: #fff;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    background-color: #373737;
    border-radius: 38px;
    border: none;
    width: 250px;
    line-height: 40px;
    transition: all .3s ease;
}

.sub-false {
    background-color: #7C0000;
}

a.edit:hover {
    background-color: #262626;
}

.sub-true:hover {
    background-color: #262626;
}

.sub-false:hover {
    background-color: #600;
}

.profile-info h1 {
    margin-top: 0;
}

.profile-info {
    margin: 0 5% 40px;
}

.profile-info p {
    margin: 0;
}

#full-description {
    display: none;
}

.more-text-trunc {
    margin-top: 5px;
    padding: 0;
    line-height: 17px;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    background-color: #000;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.posts {
    width: 90%;
    margin: 0 5% 40px;
}

.posts h1 {
    margin-top: 0;
}

.filters {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.filter-btn {
    margin-right: 15px;
    line-height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    background-color: #373737;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all .3s;
}

.filter-btn:hover {
    background-color: #262626;
}

.more-posts-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*кнопка "Ещё", содержащая ссылку на все посты пользователя*/
.more-posts {
    padding: 10px 20px;
    text-align: center;
    margin-top: 2%;
    text-decoration: none;
    font-size: 20px;
    background: #373737;
    border-radius: 20px;
    transition: all .3s ease;
}

.more-posts:hover {
    background: #262626;
}

.description-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.rec-dropdown-m {
    right: 6%;
}