/* Контент-фон */

html {
    overflow: hidden;
}

.filter-container {
    margin-top: 0px;
    background: linear-gradient(rgba(87, 87, 87, 0.25), rgba(178, 178, 178, 0.25));
    /*width: 17%;*/
    width: 280px;
    height: 90vh;
    overflow: auto;
    display: none;
}

.content .filter {
    width: 100%;
    padding-top: 26px;
    text-align: center;
}

div.flex-line:first-child {
    margin-right: 10px;
}

.filter div h1, span.close {
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
}

span.close {
    font-size: 30px;
    margin-right: 4%;
    margin-left: 20%;
    cursor: pointer;
    background-color: #575757;
    border-radius: 100%;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

span.close img {
    object-fir: cover;
    width: 50%;
}

.open-filter {
    width: 50px;
    height: 50px;
    background-color: #383838;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    margin: 20px 0px 0px 20px;
}

.open-filter img {
    object-fit: cover;
}

.flex-line {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter .filter-params .param-name{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 14px 0px;
}

p.rubric-name {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0px;
}

.filter .filter-params .edit, .filter .filter-params .checkbox {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

.filter .filter-params .edit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 7px;
}

.filter .filter-params .edit label {
    margin-right: 10px;
    margin-left: 5%;
}

.filter .filter-params .by-date .edit label {
    width: 15px;
}

.filter .filter-params .edit input {
    width: 80%;
    height: 18px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    margin-right: 5%;
}

label {
    /*margin-left: 5px;*/
    display: flex;
    align-items: center;
}

label.chbox span {
    height: 10px;
    width: 10px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    padding: 3px;
    margin-right: 5px;
}

[type=checkbox]:checked + span:before {
    content: 'X';
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 21px;
    font-weight: bold;
    color: #7C0000;
}

label.chbox input {
    display: none;
}

.form-radio {
	margin-bottom: 10px;
}

.form-radio input[type=radio] {
	display: none;
}

.form-radio label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.form-radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(images/radio_btn.png) 0 0 no-repeat;
	background-repeat: no-repeat;
    background-size: cover;
}

/* Checked */
.form-radio input[type=radio]:checked + label:before {
	background: url(images/radio_btn_act.png) 0 0;
	background-repeat: no-repeat;
    background-size: cover;
}

/* Hover */
.form-radio label:hover:before {
	filter: brightness(120%);
}

/* Disabled */
.form-radio input[type=radio]:disabled + label:before {
	filter: grayscale(100%);
}

.form-label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    margin: 0px 5% 5px 5%;
}

span.icon:first-child img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

span.icon a {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

div.icons .icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0px 5% 6px 5%;
}

div.icons .icon p {
    margin: 0px 0px 0px 8px;
}

div.more button {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}

.url a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0px 5% 6px 5%;
    color: #fff;
    text-decoration: none;
    text-size: 12px;
}

.url a img {
    width: 30px;
}

.url a p {
    margin: 0px;
    margin-left: 8px;
}

.filter-button {
    display: inline-block;

    color: #000;
    text-decoration: none;
    background-color: #fff;
    font-size: 20px;

    line-height: 40px;
    width: 90%;
    margin: 20px 5% 20px 5%;
    border-radius: 25px;
    border: none;

    transition: all 0.3s;
}

.filter-button:hover {
    background-color: #E0E0E0;
}

.filter-button:active {
    background-color: #9E9E9E;
}

/* Записи */

.posts {
    margin: 0px;
    padding: 0px;
    height: 90vh;
/*    width: 100%;*/
    overflow: auto;
    flex-grow: 1;
    display: grid;
    flex: 1;
    flex-basis: 0;
}

/* Контейнер постов */
.posts-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

/* поиск */
.find-edit form input#find_input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    background-color: #fff;
    color: #000;
    border: none;
}

.find-edit form#find_ input#find-button {
    margin-left: 15px;
    transition: all 0.3s;
}

#find-button:hover {
    transform: scale(1.1);
}

#find-button:active {
    transform: scale(0.9);
}

.find-edit {
    width: 80%;
    display: flex;
    align-items: center;
}

.find-edit form#find_ {
    width: 100%;
    display: flex;
    align-items: center;
}

.find-container {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    max-height: 100px;
}

/* Контейнер постов */
.post-container {
    margin-top: 20px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

/* посты */

.post {
    /*height: 260px;*/
    width: 90%;
    background-color: #D9D9D9;
    margin-top: 30px;
    border-radius: 10px;
    padding: 20px;

    transition: all 0.4s ease;
}

.post a {
    text-decoration: none;
    color: black;
}

/*.post:hover {
    transform: scale(1.03);
}

.post:active {
    transform: scale(1);
}*/

.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Настройки превью */
.preview-container {
    /*width: 260px;
    height: 260px;*/
    width: 30%;
    border-radius: 10px;
}

.preview-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Название, описание, лайки, комменты, избранное и тд */
.post-in {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.post-data * {
    margin: 0px;
}

.post-data p {
    margin-right: 7%;
}

.post-data h1 {
    margin-bottom: 8px;
}

.post-data {
    margin-left: 20px;
    flex-grow: 1;
    flex-basis: 0;
    width: 80%;
}

.post-data .post-content {
    margin: 0px;
    padding: 0px;
    margin-bottom: 7px;
    width: 100%;
    height: 55%;
    overflow: hidden;
    line-height: 1.3;

    font-size: 16px;
}

@media (max-width: 1370px) {
    .post {
        height: auto;/*380*/
    }

    .post-likes .info {
        flex-wrap: wrap;
    }

    .post-l {
        margin-top: 10px;
    }

    .post-data .post-content {
        height: 38%;
    }
}

@media (max-width: 970px) {
    .post {
        /*height: 615px;*/
        padding: 20px 5px;
    }

    .post-in {
        flex-direction: column;
        align-items: center;
        overflow: none;
        height: auto;
    }

    .preview-container {
        width: auto;
    }

    .info {
        flex-direction: column;
    }

    div.info div.post-l:not(last-child) {
        margin-top: 10px;
    }

    .post-data .post-content {
        height: auto;
    }

    .post-content {
        display: none;
    }
}

@media (max-width: 922px) {
    .post-data .post-content {
        height: 45%;
    }

    .post {
        width: 80%;
        /*height: 550px;*/
    }
}

@media (max-width: 780px) {
    .post {
        /*height: 450px;*/
    }
}

@media (max-width: 530px) {
    .posts {
        width: 100%;
        height: 100%;
        flex-basis: auto;
    }

    .filter-container {
        width: 100%;
        height: 100%;
    }

    span.close {
        font-size: 30px;
        margin-right: 4%;
        margin-left: 32%;
    }

    html {
        overflow: auto;
    }

    .post {
        /*height: 470px;*/
    }
}

.author-date {
    display: flex;
    justify-content: flex-start;

    font-size: 20px;
    color: #8B8B8B;
}

.post-likes {
    width: 100%;
    margin-top: 8px;
    display: flex;
}

.post-likes .info {
    display: flex;
    width: 80%;
}

.post-l, .post-r {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.post-l {
    width: 100%;
}

.post-r {
    width: 20%;
    justify-content: flex-end;
    margin-right: 2%;
}



ul.paginator {
    color: #fff;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

ul.paginator a {
    text-decoration: none;
    background: #D9D9D9;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 3%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;

    color; #000;
}

ul.paginator a.non-chose {
    cursor: pointer;
    transition: all 0.2s ease;
}

ul.paginator a.non-chose:hover {
    background: #A1A1A1;
}

ul.paginator a li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.paginator a li p {
    color: #000;
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.flex-line-container {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

div.add-dropdown {
    width: auto;
    position: relative;
}

div.rec-dropdown {
    visibility: hidden;
}

.rec-dropdown-m {
    position: absolute;
    right: 15%;
}

.adddrop-post {
    position: relative;
}

div.last {
    margin-bottom: 20px;
}

/*выпадающий список*/
div.post-dropdown {
    background-color: #E3E3E3;
    text-align: center;
    width: 150px;
    display: none;
}

div.post-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.post-dropdown ul hr {
    border: none;
    border-top: 1px solid #000;
    padding: 0;
    margin: 0;
}

div.post-dropdown ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.post-dropdown ul li a p {
    margin: 0;
}

div.post-dropdown {
    display: none;
    color: #fff;
}

div.post-dropdown ul li a img {
    margin-right: 3px;
}

div.post-dropdown ul li {
    padding: 3px 0px 3px 0px;
    transition: all 0.3s ease;
}

div.post-dropdown ul li:hover {
    background-color: #B8B8B8;
}

.pag-container {
    margin: 20px 0px;
}

