body {
    color: #fff;
    overflow-x: hidden;
}

p {
    margin: 0px 0px 30px 0px;
    font-size: 1em;
}

a {
    color: #fff;
    text-decoration: none;
}

/*Контейнеры*/
.flex-line-container {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.likes {
    display: flex;
    width: 70%;
    justify-content: flex-end;
}

.c-likes {
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
}

.comments {
    margin-top: 50px;
    width: 100%;
}

.author-date {
    align-items: center;
    justify-content: space-between;
}

.comment-container {
    display: flex;
    justify-content: flex-start;
    /*width: 100%;*/
    align-items: flex-start;
}

.subcomment {
    margin-left: 5%;
}

.comment-all {
    margin-bottom: 2%;
    margin-top: 5%;
}
div.comment-container div.flex-space-between {
    display: flex;
    justify-content: space-between;
}

/*Остальное*/
.info p {
    margin: 0;
}

.likes p {
    margin: 0;
}

.likes div {
    margin-left: 20%;
}

.small-margin-r {
    margin-right: 1%;
}

.post {
    margin: 0px 3%;

}

.post h1 {
    margin: 50px 0px;
}

.content {
    margin: 30px 0px;
}

.content p {
    margin: 0;
}

img.icon {
    margin-right: 10px;
}

img.icon-l {
    margin-left: 10px;
}

.comments p {
    margin: 0;
}

div.comments p:first-child {
    margin-right: 7%;
}

/*комментарии*/
/*comment-line*/
.comment-line {
    margin: 30px 0px 50px 0px;
    width: 100%;
}

.comment-line p {
    margin: 0;
}

/*Иконка*/
span.comment-icon:first-child img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/*input для коммента*/
.comment-line form {
    width: 100%;
    margin-left: 10px;
    height: 40px;
}

.c-line {
    background-color: #2B2B2B;
    border: none;
    border-radius: 5px;
    width: 100%;
    /*height: 34px;*/
    color: #ABABAB;
    font-size: 14px;
    border: none;
    resize: none;
    padding: 5px 3px 5px 7px;
}

.comment-btns {
    align-items: center;
    justify-content: flex-end;
}

.error-p {
    margin: 0;
    color: red;
    margin-bottom: -20px;
    margin-top: 30px;
}

.comment-btns button {
    color: #fff;
    /*background-color: #fff;*/
    background-color: transparent;
    font-size: 14px;
    height: 25px;
    border: 3px solid #2B2B2B;
    border-radius: 5px;

    transition: all 0.3s ease;
}

.comment-btns button:hover {
    background-color: #2B2B2B;
}

.comment-btns button:last-child {
    margin-left: 1%;
}

.c-info p {
    margin: 0;
}

.c-likes div:not(div:first-child) {
    margin-left: 2%;
}

.comment-all p, div.cur-user-comment p {
    margin: 0;
}

.c-author-date:first-child a {
    margin-right: 2%;
}

.c-author-date p {
    white-space: nowrap;
}

div.comment-container div:last-child {
    width: 100%;
    margin-bottom: 0px;
}

div.comment-container span:first-child {
    margin-right: 10px;
}

div.comment-container div {
    margin-bottom: 6px;
}

.comment-all div, .cur-user-comment div {
    margin-bottom: 20px;
}

.comment-all div:last-child {
    margin-bottom: 0px;
}

div.comment-container div.c-likes div.c-info {
    margin-bottom: 0px;
}

.more-comments {
    width: auto;
    white-space: nowrap;
}

div.c-likes div.answer {
    width: fit-content;
}

a.nametag {
    color: red;
}

.dropdown {
    position: absolute;
    right: 20%;
}

.rec-dropdown-m {
    position: absolute;
    right: 10px;
}

/*выпадающий список*/
div.post-dropdown, div.comment-container div.post-dropdown {
    background-color: #E3E3E3;
    text-align: center;
    width: 150px;
    display: none;
}

div.post-dropdown ul, div.comment-container div.post-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.post-dropdown ul hr, div.comment-container div.post-dropdown ul hr {
    border: none;
    border-top: 1px solid #000;
    padding: 0;
    margin: 0;
}

div.post-dropdown ul li a, div.comment-container div.post-dropdown ul li a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.post-dropdown, div.comment-container div.post-dropdown {
    display: none;
    color: #fff;
}

div.post-dropdown ul li a img, div.comment-container div.post-dropdown ul li a img {
    margin-right: 3px;
}

div.post-dropdown ul li, div.comment-container div.post-dropdown ul li {
    padding: 3px 0px 3px 0px;
    transition: all 0.3s ease;
}

div.post-dropdown ul li:hover, div.comment-container div.post-dropdown ul li:hover {
    background-color: #B8B8B8;
}

div.comment-container div.add-dropdown {
    width: auto;
}

div.comment-container div.comment-dropdown {
    visibility: hidden;
}

div.rec-dropdown {
    visibility: hidden;
}

.adddrop-post {
    position: relative;
}

.delete-comment, .change-comment {
    color: #000;
}

.deletion-btn {
    border: none;
    border-radius: 10px;
    background: #7C0000;

    width: 20%;
    height: 25px;

    color: #fff;
    font-size: 18px;

    transition: all 0.3s ease;
}

.deletion-btn:hover {
    background: #C60000;
}

.deletion-btn:active {
    background: #440000;
}

.end {
    display: flex;
    justify-content: flex-end;
}

.author-name {
    margin: 0px 15px 0px 7px;
}

.author-data-aub {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sub-true, .sub-false, .change-post {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 14px;

    text-align: center;

    background-color: #373737;
    border-radius: 38px;
    border: none;

    width: 150px;
    line-height: 30px;

    transition: all 0.3s ease;
}

.sub-false {
    background-color: #7C0000;
}

a.edit:hover {
    background-color: #262626;
}

.sub-true:hover, .change-post:hover {
    background-color: #262626;
}

.sub-false:hover {
    background-color: #660000;
}

.change-post {
    display: block;
    text-align: center;
    align-items: center;
    line-width: 100px;
    line-height: 30px;
}

.filters {
    margin-left: 4%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.filter-btn {
    margin-right: 15px;
    line-height: 40px;
    padding: 10px 10px;

    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;

    background-color: #373737;
    border-radius: 20px;
    border: none;

    cursor: pointer;

    transition: all 0.3s;
}

.filter-btn:hover {
    background-color: #262626;
}

.info {
    width: 100%;
}

.dropdown-filter {
    width: 100%;
}

span.close-filters {
    font-size: 30px;
    margin-left: 1%;
    cursor: pointer;
    background-color: #373737;
    border-radius: 100%;
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

span.close-filters:hover {
    background-color: #262626;
}

span.close-filters img {
    object-fit: cover;
    width: 50%;
}

#comments-count-post {
    white-space: nowrap;
}

/*Рекомендации*/
.main-container {
    display: flex;
    align-items: flex-start;
}

.post {
    width: 77%
}

div.recomendation {
    width: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgba(87, 87, 87, 0.25), rgba(178, 178, 178, 0.25));

    overflow: hidden;
}

.rec-info {
    display: flex;
    /*align-content: center;*/
    /*flex-wrap: wrap;*/
    flex-direction: column;
    align-items: flex-start;
    height: 110px;
    width: 100%;
}

p.title, p.substring {
    margin: 0px 0px 6px 0px;
}

p.title {
    line-height: 3em;
    max-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
}

p.last {
    margin-bottom: 0px;
}

p.substring {
    color: #9C9C9C;
}

p.last, p.substring {
    white-space: nowrap;
}

.rec-container {
    width: 92%;
    margin: 0% 4% 4% 4%;
    display: flex;
    align-items: flex-start;
}

span.rec-preview {
    margin-right: 5%;
    height: 110px;
    width: 150px;
    /*overflow: hidden;*/
}

span.rec-preview img {
    height: 110px;
    width: 150px;
    object-fit: cover;
}

div.look-more {
    margin-bottom: 0px;
}

.rec-main {
    display: flex;
}

ul li a p {
    margin: 0;
}

.rec-line {
    align-items: flex-start;
    width: 100%;
    min-width: 50%;
}