{% extends 'layout/basic.html' %}
{% load static %}

{% block footer %}
<div class="footer">
       <div class="container">
           <div class="footer-content">
               <div class="text-header-footer">
                   <p>Контакты</p>
               </div>

               <div class="description-footer">
                   <div class="description">
                       <div class="img-f1">
                           <a href="https://www.youtube.com/channel/UC3FDstzIYKOm_0T5TkPoCvg">
                               <img src="{% static 'gnome_main/css/images/yt_black.png' %}">
                           </a>
                       </div>

                       <div class="footer-text">
                           <a href="https://www.youtube.com/channel/UC3FDstzIYKOm_0T5TkPoCvg">youtube/channel.com</a>
                       </div>
                   </div>

               <div class="description">
                   <div class="img-f2">
                       <a href="mailto:truth.about.gnomes@gmail.com">
                           <img src="{% static 'gnome_main/css/images/mail_black.png' %}">
                       </a>
                   </div>

                   <div class="footer-text">
                       <a href="mailto:truth.about.gnomes@gmail.com">truth.about.gnomes@gmail.com</a>
                   </div>
               </div>
            </div>
        </div>
    </div>
</div>
{% endblock footer %}