{% load static %}
{% load profile_extras %}
<div class="post-container">
    {% for post in posts %}
        {% if forloop.last %}
        <div class="flex-line-container space-between post last {{ post.id }}">
        {% else %}
        <div class="flex-line-container space-between post {{ post.id }}">
        {% endif %}
            <a href="{{ post.get_absolute_url }}" class="post-a">
                <div class="post-in">
                    <div class="preview-container">
                        <img src="{{ post.preview.url }}">
                    </div>
                    <div class="post-data">
                        <h1>{{ post.title }}</h1>
                        <div class="post-content">{{ post.content|safe|truncatewords:100 }}</div>
                        <div class="author-date">
                            <p>{{ post.author.username }}</p>
                            <p>{{ post.created_at|date_ago }}</p>
                        </div>
                        <div class="post-likes">
                            <div class="info">
                                <div class="post-l">
                                    <p>{{ post.get_view_count|post_views }}</p>
                                    <img src="{% static 'gnome_main/css/images/views.png' %}">
                                </div>
                                <div class="post-l">
                                    <p>{{ post.get_like_count }}</p>
                                    {% if post.postlike_set|is_full:user.id %}
                                    <img src="{% static 'gnome_main/css/images/likes_full.png' %}">
                                    {% else %}
                                    <img src="{% static 'gnome_main/css/images/likes.png' %}">
                                    {% endif %}
                                </div>
                                <div class="post-l">
                                    <p>{{ post.get_dislike_count }}</p>
                                    {% if post.postdislike_set|is_full:user.id %}
                                    <img src="{% static 'gnome_main/css/images/dislikes_full.png' %}">
                                    {% else %}
                                    <img src="{% static 'gnome_main/css/images/dislikes.png' %}">
                                    {% endif %}
                                </div>
                                <div class="post-l">
                                    <p>{{ post.get_comment_count|comment_pluralize }}</p>
                                    <img src="{% static 'gnome_main/css/images/comments.png' %}">
                                </div>
                            </div>
                            <div class="post-r">
                                {% if not user.is_authenticated %}
                                    <a href="{% url 'gnome_main:log-in' %}">
                                        <img src="{% static 'gnome_main/css/images/favourite.png' %}">
                                    </a>
                                {% else %}
                                    {% if post.postfavourite_set|is_full:user.id %}
                                    <img src="{% static 'gnome_main/css/images/favourite_full.png' %}">
                                    {% else %}
                                    <img src="{% static 'gnome_main/css/images/favourite.png' %}">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <div class="add-dropdown rec-dropdown">
                <img src="{% static 'gnome_main/css/images/triple_dots.png' %}" class="adddrop-post pointer">
                <div class="post-dropdown rec-dropdown-m">
                    <ul>
                        {% if user == post.author %}
                        <li>
                            <a href="{% url 'gnome_main:update-post' slug=post.slug %}">Изменить</a>
                        </li>
                        {% else %}
                        <li>
                            {% if user.is_authenticated %}
                            <a href="{% url 'gnome_main:post-report' slug=post.slug %}">
                            {% else %}
                            <a href="{% url 'gnome_main:log-in' %}">
                            {% endif %}
                                <img src="{% static 'gnome_main/css/images/report.png' %}">
                                <p>Пожаловаться</p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if paginator.num_pages > 1 %}
    <div class="post-container">
        <ul class="paginator">
            {% for page in paginator.page_range %}
            {% if forloop.first and page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number}}" class="non-chose">
                    <li>
                        <p><</p>
                    </li>
                </a>
                {% if page_obj.number > 2 %}
                <a href="?page=1" class="non-chose">
                    <li>
                        <p>1</p>
                    </li>
                </a>
                {% endif %}
            {% endif %}

            {% if page_obj.number == page %}
            <a>
                <li>
                    <p>{{ page }}</p>
                </li>
            </a>
            {% elif page >= page_obj.number|add:-1 and page <= page_obj.number|add:1 %}
            <a href="?page={{ page }}" class="non-chose">
                <li>
                    <p>{{ page }}</p>
                </li>
            </a>
            {% endif %}

            {% if forloop.last and page_obj.has_next %}
                {% if page_obj.number|add:2 <= paginator.num_pages %}
                    <a href="?page={{ paginator.num_pages }}" class="non-chose">
                        <li>
                            <p>{{ paginator.num_pages }}</p>
                        </li>
                    </a>
                {% endif %}
                <a href="?page={{ page_obj.next_page_number}}" class="non-chose last">
                    <li>
                        <p>></p>
                    </li>
                </a>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>







            {% for post in posts %}
            <div class="flex-line-container space-between post {{ post.id }}">
                <a href="{{ post.get_absolute_url }}" class="post-a">
                    <div class="post-in">
                        <div class="preview-container">
                            <img src="{{ post.preview.url }}">
                        </div>
                        <div class="post-data">
                            <h1>{{ post.title }}</h1>
                            <div class="post-content">{{ post.content|safe|truncatewords:100 }}</div>
                            <div class="author-date">
                                <p>{{ post.author.username }}</p>
                                <p>{{ post.created_at|date_ago }}</p>
                            </div>
                            <div class="post-likes">
                                <div class="info">
                                    <div class="post-l">
                                        <p>{{ post.get_view_count|post_views }}</p>
                                        <img src="{% static 'gnome_main/css/images/views.png' %}">
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_like_count }}</p>
                                        {% if post.postlike_set|is_full:user.id %}
                                        <img src="{% static 'gnome_main/css/images/likes_full.png' %}">
                                        {% else %}
                                        <img src="{% static 'gnome_main/css/images/likes.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_dislike_count }}</p>
                                        {% if post.postdislike_set|is_full:user.id %}
                                        <img src="{% static 'gnome_main/css/images/dislikes_full.png' %}">
                                        {% else %}
                                        <img src="{% static 'gnome_main/css/images/dislikes.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_comment_count|comment_pluralize }}</p>
                                        <img src="{% static 'gnome_main/css/images/comments.png' %}">
                                    </div>
                                </div>
                                <div class="post-r">
                                    {% if post.postfavourite_set|is_full:user.id %}
                                    <img src="{% static 'gnome_main/css/images/favourite_full.png' %}">
                                    {% else %}
                                    <img src="{% static 'gnome_main/css/images/favourite.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="add-dropdown rec-dropdown">
                    <img src="{% static 'gnome_main/css/images/triple_dots.png' %}" class="adddrop-post pointer">
                    <div class="post-dropdown rec-dropdown-m">
                        <ul>
                            {% if cur_user == user %}
                            <li>
                                <a href="{% url 'gnome_main:update-post' slug=post.slug %}">Изменить</a>
                            </li>
                            {% else %}
                            <li>
                                {% if user.is_authenticated %}
                                <a href="{% url 'gnome_main:post-report' slug=post.slug %}">
                                {% else %}
                                <a href="{% url 'gnome_main:log-in' %}">
                                {% endif %}
                                    <img src="{% static 'gnome_main/css/images/report.png' %}">
                                    <p>Пожаловаться</p>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}