{% extends 'layout/basic.html' %}
{% load static %}
{% load profile_extras %}
{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/style_basic_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_blog.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="{% static 'gnome_main/js/blog.js' %}"></script>
<script>
    var csrf_token = '{{ csrf_token }}';
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="open-filter">
        <img src="{% static 'gnome_main/css/images/icon_filter.png' %}">
    </div>
    <div class="filter-container">
        <form class="filter" method="get" action="{% url 'gnome_main:blog' %}">
            {% csrf_token %}
            <div class="flex-line">
                <h1>Фильтр</h1>
                <span class="close"><img src="{% static 'gnome_main/css/images/icon_xletter.png' %}"></span>
            </div>

            <div class="filter-params">
                <div class="by-date">
                    <p class="param-name">По дате</p>
                    <div class="edit">
                        <label for="from">от</label>
                        <input type="date" name="date-from" id="from">
                    </div>
                    <div class="edit">
                        <label for="to">до</label>
                        <input type="date" name="date-to" id="to">
                    </div>
                </div>

                <div class="by-author">
                    <p class="param-name">По автору</p>
                    <div class="edit">
                        <label for="by-author">имя</label>
                        <input type="text" name="author" id="by-author" placeholder="authorname">
                    </div>
                </div>

                <div class="by-rubric">
                    <p class="param-name">Рубрика</p>
                    <div class="checkbox-container">
                        <div class="checkbox">
                                {% for rubric in rubrics %}
                                {% ifchanged rubric.super_rubric.pk %}
                                <p class="rubric-name">{{ rubric.super_rubric.name }}</p>
                                {% endifchanged %}
                                <div class="form-label">
                                    <input type="checkbox" name="{{ rubric.name }}" value="{{ rubric.name }}">
                                    <label>{{ rubric.name }}</label>
                                </div>
                                {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="another-params">
                    <p class="param-name">Другие параметры</p>
                    <div class="checkbox-container">
                        <div class="checkbox">
                            <div class="form-label">
                                <input type="radio" name="radio-filters" id="popular" value="popular">
                                <label for="popular">популярное</label>
                            </div>

                            <div class="form-label">
                                <input type="radio" name="radio-filters" id="more-views" value="more-views">
                                <label for="more-views">больше просмотров</label>
                            </div>

                            <div class="form-label">
                                <input type="radio" name="radio-filters" id="old" value="old">
                                <label for="old">старое</label>
                            </div>

                            <div class="form-label">
                                <input type="radio" name="radio-filters" id="new" value="new">
                                <label for="new">новое</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="subscriptions">
                    <p class="param-name">Подписки</p>
                    <div class="checkbox">
                        <div class="icons">
                            {% for sub in subscriptions %}
                            {% if forloop.counter0 >= 4 %}
                            <span class="icon hide" style="display: none;">
                                <a href="{{ sub.get_absolute_url }}">
                                    <img src="{{ sub.avatar.url }}">
                                </a>
                                <a href="{{ sub.get_absolute_url }}">
                                    <p>{{ sub.username }}</p>
                                </a>
                            </span>
                            {% else %}
                            <span class="icon">
                                <a href="{{ sub.get_absolute_url }}">
                                    <img src="{{ sub.avatar.url }}">
                                </a>
                                <a href="{{ sub.get_absolute_url }}">
                                    <p>{{ sub.username }}</p>
                                </a>
                            </span>
                            {% endif %}
                            {% endfor %}
                            <div class="more">
                                <button id="more">ещё</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="urls">
                    <p class="param-name">Полезные ссылки</p>
                    <div class="url">
                        <a href="#">
                            <img src="{% static 'gnome_main/css/images/yt_white.png' %}">
                            <p>youtube/channel.com</p>
                        </a>
                    </div>
                    <div class="url">
                        <a href="#">
                            <img src="{% static 'gnome_main/css/images/mail_white.png' %}">
                            <p>gnomestrue@gmail.com</p>
                        </a>
                    </div>
                </div>

                <div class="button-container">
                    <input type="submit" class="filter-button" value="Применить">
                </div>
            </div>
        </form>
    </div>

    <div class="posts">
        <div class="find-container">
            <div class="find-edit">
                <form id="find_" method="post">
                    {% csrf_token %}
                    <input type="text" name="text-find" id="find_input" placeholder="Введите название записи">
                    <input type="image" src="{% static 'gnome_main/css/images/find.png' %}" alt="find-button" id="find-button">
                </form>
            </div>
        </div>

        <div class="post-container">
            {% for post in posts %}
            {% if forloop.last %}
            <div class="flex-line-container space-between post last {{ post.id }}">
            {% else %}
            <div class="flex-line-container space-between post {{ post.id }}">
            {% endif %}
                <a href="{{ post.get_absolute_url }}" class="post-a">
                    <div class="post-in">
                        <div class="preview-container">
                            <img src="{{ post.preview.url }}">
                        </div>
                        <div class="post-data">
                            <h1>{{ post.title }}</h1>
                            <div class="post-content">{{ post.content|safe|truncatewords:100 }}</div>
                            <div class="author-date">
                                <p>{{ post.author.username }}</p>
                                <p>{{ post.created_at|date_ago }}</p>
                            </div>
                            <div class="post-likes">
                                <div class="info">
                                    <div class="post-l">
                                        <p>{{ post.get_view_count|post_views }}</p>
                                        <img src="{% static 'gnome_main/css/images/views.png' %}">
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_like_count }}</p>
                                        {% if post.postlike_set|is_full:user.id %}
                                        <img src="{% static 'gnome_main/css/images/likes_full.png' %}">
                                        {% else %}
                                        <img src="{% static 'gnome_main/css/images/likes.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_dislike_count }}</p>
                                        {% if post.postdislike_set|is_full:user.id %}
                                        <img src="{% static 'gnome_main/css/images/dislikes_full.png' %}">
                                        {% else %}
                                        <img src="{% static 'gnome_main/css/images/dislikes.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_comment_count|comment_pluralize }}</p>
                                        <img src="{% static 'gnome_main/css/images/comments.png' %}">
                                    </div>
                                </div>
                                <div class="post-r">
                                    {% if post.postfavourite_set|is_full:user.id %}
                                    <img src="{% static 'gnome_main/css/images/favourite_full.png' %}">
                                    {% else %}
                                    <img src="{% static 'gnome_main/css/images/favourite.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="add-dropdown rec-dropdown">
                    <img src="{% static 'gnome_main/css/images/triple_dots.png' %}" class="adddrop-post pointer">
                    <div class="post-dropdown rec-dropdown-m">
                        <ul>
                            {% if user == post.author %}
                            <li>
                                <a href="#">Изменить</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{% url 'gnome_main:post-report' slug=post.slug %}">
                                    <img src="{% static 'gnome_main/css/images/report.png' %}">
                                    <p>Пожаловаться</p>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% if paginator.num_pages > 1 %}
        <div class="post-container">
            <ul class="paginator">
                {% for page in paginator.page_range %}
                {% if forloop.first and page.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number}}" class="non-chose">
                        <li>
                            <p><</p>
                        </li>
                    </a>
                    {% if page_obj.number > 2 %}
                    <a href="?page=1" class="non-chose">
                        <li>
                            <p>1</p>
                        </li>
                    </a>
                    {% endif %}
                {% endif %}

                {% if page_obj.number == page %}
                <a>
                    <li>
                        <p>{{ page }}</p>
                    </li>
                </a>
                {% elif page >= page_obj.number|add:-1 and page <= page_obj.number|add:1 %}
                <a href="?page={{ page }}" class="non-chose">
                    <li>
                        <p>{{ page }}</p>
                    </li>
                </a>
                {% endif %}

                {% if forloop.last and page_obj.has_next %}
                    {% if page_obj.number|add:2 <= paginator.num_pages %}
                        <a href="?page={{ paginator.num_pages }}" class="non-chose">
                            <li>
                                <p>{{ paginator.num_pages }}</p>
                            </li>
                        </a>
                    {% endif %}
                    <a href="?page={{ page_obj.next_page_number}}" class="non-chose last">
                        <li>
                            <p>></p>
                        </li>
                    </a>
                {% endif %}
                {% endfor %}

            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}