{% extends 'layout/basic.html' %}
{% load static %}
{% load profile_extras %}
{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/header_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/studio.css' %}">
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
{% endblock links %}

{% block content %}
<div class="flex-line-container filter">
    <a class="filter-btn" href="{% url 'gnome_main:user-liked' %}">Понравившиеся</a>
    <a class="filter-btn" href="{% url 'gnome_main:user-favourites' %}">Избранное</a>
    <a class="filter-btn" href="{% url 'gnome_main:user-history' %}">История просмотров</a>
</div>
{% endblock content %}