{% extends "layout/basic_footer.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/header_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_log_in.css' %}">
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>Вы уже выполнили вход</h1>
{% else %}
<div class="widget">
    <div class="widget-container">
        <h1>Введите данные</h1>
        <form method="post" class="login">
            {% csrf_token %}
            <div class="info">
                {{ form.as_p }}
            </div>
            <div>
                <a href="{% url 'gnome_main:password-reset' %}" class="form-a">Забыли пароль?</a>
                <a class="form-btn-a" href="{% url 'gnome_main:register' %}">Регистрация</a>
                <input type="submit" value="Войти" class="form-btn">
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}