{% extends "layout/basic_footer.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/style_basic_nfixed_withFooter.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_reg_confrim.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="widget">
    <div class="widget-container">
        <h1 class="text">
            Пароль изменён!
        </h1>
        <a href="{% url 'gnome_main:log-in' %}">Войти</a>
    </div>
</div>
{% endblock %}