{% extends "layout/basic_footer.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/header_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_log_in.css' %}">
{% endblock %}

{% block content %}
<div class="widget">
    <div class="widget-container">
        <h1>Введите новый пароль</h1>
        <form method="post">
            {% csrf_token %}
            <div class="info">
            {{ form.as_p }}
            </div>
            <div>
                <input type="submit" value="Ввести" class="form-btn-alone">
            </div>
        </form>
    </div>
</div>
{% endblock %}