{% extends "layout/basic_footer.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/style_basic_nfixed_withFooter.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_log_in.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="widget">
    <div class="widget-container">
        <h1>Введите данные</h1>
        <form method="post">
            {% csrf_token %}
            <div class="info">
            {{ form.as_p }}
            </div>
<!--            <label for="email">почта</label>-->
<!--            <input type="text" id="email" name="email">-->
<!--            <label for="login">логин</label>-->
<!--            <input type="text" id="login" name="login">-->
<!--            <label for="password1">пароль</label>-->
<!--            <input type="password" id="password1" name="password1">-->
<!--            <label for="password2">введите пароль ещё раз</label>-->
<!--            <input type="password" id="password2" name="password2">-->
            <div>
                <a href="{% url 'gnome_main:main' %}" class="form-a">На главную</a>
                <a class="form-btn-a" href="{% url 'gnome_main:log-in' %}">Войти</a>
                <input type="submit" value="Зарегистрироваться" class="form-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}