{% extends "layout/basic_footer.html" %}
{% load static %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/header_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_reg_confirm.css' %}">
{% endblock %}

{% block content %}
<div class="widget">
    <div class="widget-container">
        <h1 class="text">
            Регистрация завершена!
        </h1>
        <a href="{% url 'gnome_main:log-in' %}">Войти</a>
    </div>
</div>
{% endblock %}