{% extends 'layout/basic.html' %}
{% load static %}
{% load profile_extras %}
{% load thumbnail %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/style_basic_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_show_post.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'gnome_main/js/show_post.js' %}"></script>
<script>
    var comment_csrf = '{{ csrf_token }}';
</script>
{% endblock %}

{% block content %}
<div class="flex-line-container">
    <div class="post">
        <h1>{{ post.title }}</h1>
        <div class="flex-line-container author-date">
            <a href="{{ post.author.get_absolute_url }}"><p>{{ post.author.username }}</p></a>
            <p>{{ post.created_at|date_ago }}</p>
        </div>
        <div class="flex-line-container wrap">
            {% for image in post.postadditionalimage_set.all %}
                <a href="{{ image.media.url }}" data-fancybox="gallery" data-caption="Медиа-файл №{{ forloop.counter }}" class="small-margin-r">
                    {% if image.media|is_video_preview %}
                    <img src="{{ image.media|is_video_preview }}"/>
                    {% else %}
                    <img src="{{ image.media|thumbnail_url:'default' }}"/>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="content">
            <p>
                {{ post.content|safe }}
            </p>
        </div>

        <div class="flex-line-container space-between">
            <div class="flex-line-container info">
                <img src="{% static 'gnome_main/css/images/views_white.png' %}" class="icon">
                <p>{{ post.get_view_count|post_views }}</p>
            </div>
            <div class="flex-line-container likes">
                <div class="flex-line-container info">
                    <p>{{ post.get_like_count }}</p>
                    <img src="{% static 'gnome_main/css/images/likes_white.png' %}" class="icon-l like-main pointer">
                </div>
                <div class="flex-line-container info">
                    <p>{{ post.get_dislike_count }}</p>
                    <img src="{% static 'gnome_main/css/images/dislikes_white.png' %}" class="icon-l dislike-main pointer">
                </div>
                <div class="flex-line-container info">
                    <img src="{% static 'gnome_main/css/images/favourite_white.png' %}" class="icon-l favourite pointer">
                </div>
            </div>
        </div>

        <div class="flex-line-container comments">
            <p id="comments-count-post">{{ post.get_comment_count|comment_pluralize }}</p>
            <div class="flex-line-container info filter pointer" style="display: none;">
                <img src="{% static 'gnome_main/css/images/comment_filter.png' %}" class="icon">
                <p>Упорядочить</p>
            </div>
            <div class="flex-line-container info full-filter pointer">

            </div>
        </div>

        <div class="flex-line-container error-div" style="display: none;">
            <p class="error-p"></p>
        </div>

        <div class="flex-line-container comment-line">
            <span class="comment-icon">
                <a href="{{ user.get_absolute_url }}">
                    <img src="{{ user.avatar.url }}">
                </a>
            </span>
            <form id="main-comment" method="post">
                {% csrf_token %}
                <textarea type="text" rows="3" name="main-comment-line" class="c-line" placeholder="Ввести комментарий..." autocomplete="off"></textarea>
                <div class="flex-line-container comment-btns">
                    <button type="button" id="cancel-btn" class="pointer">Отмена</button>
                    <button type="submit" class="last pointer">Отправить</button>
                </div>
            </form>
        </div>


        <div class="comment-all">
            {% for comment in comments %}
            <div class="flex-line-container comment-container {{ comment.id }}">
                <span class="comment-icon">
                    <a href="{{ comment.user.get_absolute_url }}">
                        <img src="{{ comment.user.avatar.url }}">
                    </a>
                </span>
                <div>
                    <div class="flex-line-container c-author-date">
                        <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.username }}</a>
                        <p>{{ comment.created_at|date_ago }}</p>
                    </div>
                    <div><p>{{ comment.comment|safe|linebreaks }}</p></div>
                    <div class="flex-line-container c-likes">
                        <div class="flex-line-container c-info">
                            <p>{{ comment.commentlike_set.count }}</p>
                            {% if comment.commentlike_set|is_full:user.id %}
                            <img src="{% static 'gnome_main/css/images/likes_mini_white_full.png' %}" class="icon-l comment-like pointer {{ comment.id }}">
                            {% else %}
                            <img src="{% static 'gnome_main/css/images/likes_mini_white.png' %}" class="icon-l comment-like pointer {{ comment.id }}">
                            {% endif %}
                        </div>
                        <div class="flex-line-container c-info">
                            <p>{{ comment.commentdislike_set.count }}</p>
                            {% if comment.commentdislike_set|is_full:user.id %}
                            <img src="{% static 'gnome_main/css/images/dislikes_mini_white_full.png' %}" class="icon-l comment-dislike pointer {{ comment.id }}">
                            {% else %}
                            <img src="{% static 'gnome_main/css/images/dislikes_mini_white.png' %}" class="icon-l comment-dislike pointer {{ comment.id }}">
                            {% endif %}
                        </div>
                        {% if comment.super_comment %}
                        {% else %}
                        {% if comments_count|comment_zero:comment.id %}
                        {% else %}
                        <div class="flex-line-container c-info more-comments pointer">
                            <p>{{ comments_count|key:comment.id }}</p>
                            <img src="{% static 'gnome_main/css/images/up_arrow.png' %}" class="icon-l up" style="display: none;">
                            <img src="{% static 'gnome_main/css/images/down_arrow.png' %}" class="icon-l down" style="display: block;">
                        </div>
                        {% endif %}
                        <div class="flex-line-container c-info answer pointer">
                            <p>Ответить</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="subcomments-all{{comment.id}}" style="display: none;">
                <p>123</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="recomendation">

    </div>
</div>
{% endblock %}