{% extends 'layout/basic.html' %}
{% load static %}
{% load profile_extras %}
{% load thumbnail %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/style_basic_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_show_post.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"/>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="{% static 'gnome_main/js/show_post.js' %}"></script>
<script>
    var comment_csrf = '{{ csrf_token }}';
</script>
{% endblock %}

{% block content %}
<div style="display: none; width: 500px;" id="deletion">
	<h2>Вы точно хотите удалить этот комментарий ?</h2>
    <div class="flex-line-container flex-space-between">
        <button type="button" class="deletion-btn" id="btn-delete-yes">Да</button>
        <button type="button" class="deletion-btn" id="btn-delete-no">Нет</button>
    </div>
</div>

<div style="display: none; width: 500px;" id="deletion_complete">
	<h2>Комментарий удалён</h2>
    <div class="flex-line-container end">
        <button type="button" class="deletion-btn" id="btn-ok">Ок</button>
    </div>
</div>

<div class="main-container">
    <div class="post">
        <div class="flex-line-container author-date">
            <h1>{{ post.title }}</h1>
            {% if user.is_authenticated %}
            <div class="add-dropdown">
                <img src="{% static 'gnome_main/css/images/triple_dots_white.png' %}" class="adddrop-post pointer">
                <div class="post-dropdown dropdown">
                    <ul>
                        {% if post.author.id == user.id %}
                        <li><a href="#">Изменить</a></li>
                        {% else %}
                        <li>
                            <a href="{% url 'gnome_main:post-report' slug=slug %}">
                                <img src="{% static 'gnome_main/css/images/report.png' %}">
                                Пожаловаться
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="flex-line-container author-date">
            <div class="flex-line-container author-data-aub">
                <span class="comment-icon">
                    <a href="{{ post.author.get_absolute_url }}">
                        <img src="{{ post.author.avatar.url }}">
                    </a>
                </span>
                <a href="{{ post.author.get_absolute_url }}">
                    <p class="author-name">{{ post.author.username }}</p>
                </a>
                <div>
                {% if is_subscribe %}
                    <button type="button" class="sub-true">Отписаться</button>
                    <button type="button" class="sub-false" style="display: none;">Подписаться</button>
                    {% elif is_subscribe == False and user != post.author %}
                    <button type="button" class="sub-false">Подписаться</button>
                    <button type="button" class="sub-true" style="display: none;">Отписаться</button>
                    {% elif user == post.author %}
                    <a href="#" class="change-post">Изменить</a>
                {% endif %}
                </div>
            </div>
            <p>{{ post.created_at|date_ago }}</p>
        </div>
        <div class="flex-line-container wrap">
            {% for image in post.postadditionalimage_set.all %}
                <a href="{{ image.media.url }}" data-fancybox="gallery" data-caption="Медиа-файл №{{ forloop.counter }}" class="small-margin-r">
                    {% if image.media|is_video_preview %}
                    <img src="{{ image.media|is_video_preview }}"/>
                    {% else %}
                    <img src="{{ image.media|thumbnail_url:'default' }}"/>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        <div class="content">
            <p>
                {{ post.content|safe }}
            </p>
        </div>

        <div class="flex-line-container space-between">
            <div class="flex-line-container info">
                <img src="{% static 'gnome_main/css/images/views_white.png' %}" class="icon">
                <p>{{ post.get_view_count|post_views }}</p>
            </div>
            <div class="flex-line-container likes">
                <div class="flex-line-container info">
                    <p>{{ post.get_like_count }}</p>
                    {% if post.postlike_set|is_full:user.id %}
                    <img src="{% static 'gnome_main/css/images/likes_white_full.png' %}" class="icon-l like-main pointer">
                    {% else %}
                    <img src="{% static 'gnome_main/css/images/likes_white.png' %}" class="icon-l like-main pointer">
                    {% endif %}
                </div>
                <div class="flex-line-container info">
                    <p>{{ post.get_dislike_count }}</p>
                    {% if post.postdislike_set|is_full:user.id %}
                    <img src="{% static 'gnome_main/css/images/dislikes_white_full.png' %}" class="icon-l dislike-main pointer">
                    {% else %}
                    <img src="{% static 'gnome_main/css/images/dislikes_white.png' %}" class="icon-l dislike-main pointer">
                    {% endif %}
                </div>
                <div class="flex-line-container info">
                    {% if post.postfavourite_set|is_full:user.id %}
                    <img src="{% static 'gnome_main/css/images/favourite_white_full.png' %}" class="icon-l favourite pointer">
                    {% else %}
                    <img src="{% static 'gnome_main/css/images/favourite_white.png' %}" class="icon-l favourite pointer">
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="flex-line-container comments">
            <p id="comments-count-post">{{ post.get_comment_count|comment_pluralize }}</p>
            <div class="flex-line-container info" style="display: flex;">
                <div class="flex-line-container filter pointer">
                    <img src="{% static 'gnome_main/css/images/comment_filter.png' %}" class="icon">
                    <p>Упорядочить</p>
                </div>
                <div class="filters dropdown-filter" style="display: none;">
                    <button type="button" class="filter-btn pointer" id="new">Новые</button>
                    <button type="button" class="filter-btn pointer" id="old">Старые</button>
                    <button type="button" class="filter-btn pointer" id="popular">Популярные</button>
                    <button type="button" class="filter-btn pointer" id="my">Мои</button>
                    <span class="close-filters">
                        <img src="{% static 'gnome_main/css/images/icon_xletter.png' %}">
                    </span>
                </div>
            </div>
        </div>

        <div class="flex-line-container error-div" style="display: none;">
            <p class="error-p"></p>
        </div>

        <div class="flex-line-container comment-line">
            <span class="comment-icon">
                <a href="{{ user.get_absolute_url }}">
                    <img src="{{ user.avatar.url }}">
                </a>
            </span>
            <form id="main-comment" method="post">
                {% csrf_token %}
                <textarea type="text" rows="3" name="main-comment-line" class="c-line" placeholder="Ввести комментарий..." autocomplete="off"></textarea>
                <div class="flex-line-container comment-btns">
                    <button type="button" id="cancel-btn" class="pointer">Отмена</button>
                    <button type="submit" class="last pointer">Отправить</button>
                </div>
            </form>
        </div>

        <div class="comment-all"></div>
    </div>
    <div class="recomendation">
        <h1 style="font-weight: normal;">Похожие</h1>
    </div>
{% endblock %}