{% extends 'layout/basic.html' %}
{% load static %}
{% load profile_extras %}
{% load my_truncatewords %}
{% load thumbnail %}

{% block links %}
<link rel="stylesheet" href="{% static 'gnome_main/css/style_basic_nfixed.css' %}">
<link rel="stylesheet" href="{% static 'gnome_main/css/style_user_profile.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="{% static 'gnome_main/js/more_text.js' %}"></script>
<script src="{% static 'gnome_main/js/user_profile.js' %}"></script>
<script>
    var csrf_token = '{{ csrf_token }}';
    var userIsAuthenticated = {{ user.is_authenticated|yesno:"true,false"}};
    var login_html = '{% url "gnome_main:log-in" %}';
</script>
{% endblock %}

{% block content %}
<div class="content">
    <div class="profile-image">
        {% if cur_user.profile_image %}
        <img src="{{ MEDIA_URL }}{{ cur_user.profile_image.url }}" alt="profile-image" class="profile-img">
        {% else %}
        <img src="{% static 'gnome_main/css/images/default_profile_image.jpg' %}" alt="profile-img" class="profile-img">
        {% endif %}
    </div>
    <div class="profile-info-short">
        <div class="flex-line-container">
            <div class="avatar-image">
            {% if cur_user.avatar %}
                <img src="{{ cur_user.avatar.url }}" alt="avatar-image" class="avatar-img">
            {% else %}
                <img src="{% static 'gnome_main/css/images/default_profile_avatar.jpg' %}" alt="avatar-image">
            {% endif %}
            </div>
            <div class="short-description">
                <h1>{{ cur_user.username }}</h1>
                <div class="flex-line-container">
                    <p>{{ sub_count|sub_pluralize }}</p>
                    <p>{{ posts_count|post_pluralize }}</p>
                </div>
                <p>{{ cur_user.status }}</p>
            </div>
        </div>
        {% if cur_user == user %}
            <a href="{% url 'gnome_main:studio' user.slug %}" class="edit" style="margin-right: 10px;">Студия</a>
            <a href="{% url 'gnome_main:profile-change' user.slug %}" class="edit">Изменить</a>
        {% else %}
        <div>
            {% csrf_token %}
            {% if user.is_authenticated %}
                {% if is_subscribe %}
                <button class="sub-true">Отписаться</button>
                <button class="sub-false" style="display: none;">Подписаться</button>
                {% else %}
                <button class="sub-false">Подписаться</button>
                <button class="sub-true" style="display: none;">Отписаться</button>
                {% endif %}
            {% else %}
                <a href="{% url 'gnome_main:log-in' %}">
                    <button class="sub-false">Подписаться</button>
                </a>
            {% endif %}
        </div>
        {% endif %}
    </div>
    <div class="profile-info">
        <h1>Описание</h1>
        <p id="short-description">{{ cur_user.description|my_truncatewords:10|linebreaksbr }}</p>
        <p id="full-description">{{ cur_user.description|linebreaksbr }}</p>
        <button type="button" class="more-text-trunc">Ещё</button>
    </div>
    <div class="posts">
        <h1>Записи</h1>
        <div class="filters">
            <button class="filter-btn" id="popular">популярное</button>
            <button class="filter-btn" id="more_views">больше просмотров</button>
            <button class="filter-btn" id="new">новое</button>
            <button class="filter-btn" id="old">старое</button>
            <button class="filter-btn" id="with_media">с медиа файлами</button>
        </div>

        <div class="post-container">
            {% for post in posts %}
            <div class="flex-line-container space-between post {{ post.id }}">
                <a href="{{ post.get_absolute_url }}" class="post-a">
                    <div class="post-in">
                        <div class="preview-container">
                            <img src="{{ post.preview.url }}">
                        </div>
                        <div class="post-data">
                            <h1>{{ post.title }}</h1>
                            <div class="post-content">{{ post.content|safe|truncatewords:100 }}</div>
                            <div class="author-date">
                                <p>{{ post.author.username }}</p>
                                <p>{{ post.created_at|date_ago }}</p>
                            </div>
                            <div class="post-likes">
                                <div class="info">
                                    <div class="post-l">
                                        <p>{{ post.get_view_count|post_views }}</p>
                                        <img src="{% static 'gnome_main/css/images/views.png' %}">
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_like_count }}</p>
                                        {% if post.postlike_set|is_full:user.id %}
                                        <img src="{% static 'gnome_main/css/images/likes_full.png' %}">
                                        {% else %}
                                        <img src="{% static 'gnome_main/css/images/likes.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_dislike_count }}</p>
                                        {% if post.postdislike_set|is_full:user.id %}
                                        <img src="{% static 'gnome_main/css/images/dislikes_full.png' %}">
                                        {% else %}
                                        <img src="{% static 'gnome_main/css/images/dislikes.png' %}">
                                        {% endif %}
                                    </div>
                                    <div class="post-l">
                                        <p>{{ post.get_comment_count|comment_pluralize }}</p>
                                        <img src="{% static 'gnome_main/css/images/comments.png' %}">
                                    </div>
                                </div>
                                <div class="post-r">
                                    {% if post.postfavourite_set|is_full:user.id %}
                                    <img src="{% static 'gnome_main/css/images/favourite_full.png' %}">
                                    {% else %}
                                    <img src="{% static 'gnome_main/css/images/favourite.png' %}">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="add-dropdown rec-dropdown">
                    <img src="{% static 'gnome_main/css/images/triple_dots.png' %}" class="adddrop-post pointer">
                    <div class="post-dropdown rec-dropdown-m">
                        <ul>
                            {% if cur_user == user %}
                            <li>
                                <a href="{% url 'gnome_main:update-post' slug=post.slug %}">Изменить</a>
                            </li>
                            {% else %}
                            <li>
                                {% if user.is_authenticated %}
                                <a href="{% url 'gnome_main:post-report' slug=post.slug %}">
                                {% else %}
                                <a href="{% url 'gnome_main:log-in' %}">
                                {% endif %}
                                    <img src="{% static 'gnome_main/css/images/report.png' %}">
                                    <p>Пожаловаться</p>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="more-posts-div">
            <a href="{% url 'gnome_main:blog-author' slug=cur_user.slug %}" class="more-posts">Ещё</a>
        </div>
    </div>
</div>
{% endblock %}